<div class="row aifai-footer">
    <div class="container">
        <ul class="inner-footer">
            <li>
                <ul>
                    <li class="nav-menu">
                        WHAT'S HOT
                    </li>
                    <li class="nav-content"><a href="#">DISCOUNT VOUCHER</a></li>
                    <li class="nav-content"><a href="#">SPRING COLLECTION</a></li>
                    <li class="nav-content"><a href="#">TRENDING</a></li>
                    <li class="nav-content"><a href="#">BESTSELLERS</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="nav-menu">
                        BRANDS
                    </li>
                    <li class="nav-content"><a href="#">JACK&JONES</a></li>
                    <li class="nav-content"><a href="#">CALVIN KLEIN</a></li>
                    <li class="nav-content"><a href="#">RAY BAN</a></li>
                    <li class="nav-content"><a href="#">RIVER ISLAND</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="nav-menu">
                        MEN SHOP
                    </li>
                    <li class="nav-content"><a href="#">TOPS</a></li>
                    <li class="nav-content"><a href="#">BOTTOMS</a></li>
                    <li class="nav-content"><a href="#">ACCESSORIES</a></li>
                    <li class="nav-content"><a href="#">SHOES</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="nav-menu">
                        WOMEN SHOP
                    </li>
                    <li class="nav-content"><a href="#">JEANS</a></li>
                    <li class="nav-content"><a href="#">DRESSES</a></li>
                    <li class="nav-content"><a href="#">OTHER</a></li>
                    <li class="nav-content"><a href="#">SHOES</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="nav-menu">
                        HELP
                    </li>
                    <li class="nav-content"><a href="#">F.A.Q.</a></li>
                    <li class="nav-content"><a href="#">SHIPPING</a></li>
                    <li class="nav-content"><a href="#">CONTACT US</a></li>
                    <li class="nav-content"><a href="#">PRIVACY POLICY</a></li>
                </ul>
            </li>
            <li>
                <ul class="social-networks">
                    <li class="nav-menu">
                        SOCIAL
                    </li>
                    <li class="social-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li class="social-icon"><a href="#"><i class="fa fa-snapchat-ghost"></i></a></li>
                </ul>
            </li>
        </ul>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6 bottom-nav">
                    <ul class="copyright">
                        <li>© Copyright 2021 | </li>
                        <li>Aurum Theme by Laborator</li>
                    </ul>
                    <ul class="bottom-menu">
                        <li><a href="#">Privacy & Cookies</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Store</a></li>
                        <li><a href="#">Directory</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="payments">
                        <li class="payment">
                            <a href="#"><img src="../../../assets/img/payment/dhl.png" alt=""></a>
                        </li>
                        <li class="payment">
                            <a href="#"><img src="../../../assets/img/payment/fedex.png" alt=""></a>
                        </li>
                        <li class="payment">
                            <a href="#"><img src="../../../assets/img/payment/mastercard.png" alt=""></a>
                        </li>
                        <li class="payment">
                            <a href="#"><img src="../../../assets/img/payment/paypal.png" alt=""></a>
                        </li>
                        <li class="payment">
                            <a href="#"><img src="../../../assets/img/payment/ups.png" alt=""></a>
                        </li>
                        <li class="payment">
                            <a href="#"><img src="../../../assets/img/payment/visa.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

