<div class="container gallerly-wrapper">
    <div class="row">
        <div class="aifai-gallerly">
            <div class="gallerly-item gallerly-1">
                <a href="shop/category/men">
                    <img src="../../../assets/img/gallerly/image1xxl10-360x500.jpg" alt="">
                    <span></span>
                    <div class="category-text-container">
                        <div class="category-text-content">
                            <strong>MEN</strong>
                        </div>
                    </div>
                </a>
            </div>
            <div class="gallerly-item gallerly-2">
                <a href="shop/category/women">
                    <img src="../../../assets/img/gallerly/image1xxl21-360x500.jpg" alt="">
                    <span></span>
                    <div class="category-text-container">
                        <div class="category-text-content">
                            <strong>WOMEN</strong>
                        </div>
                    </div>
                </a>
                <span></span>
            </div>
            <div class="gallerly-item gallerly-3">
                <a href="shop/category/shoes">
                    <img src="../../../assets/img/gallerly/image2xxl39-360x500.jpg" alt="">
                    <span></span>
                    <div class="category-text-container">
                        <div class="category-text-content">
                            <strong>SHOES</strong>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>