<div class="container category-wrapper">
    <div class="row">
        <div class="aifai-category">
            <div class="category-item">
                <div class="inner-category">
                    <h3>FEATURED</h3>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl-110-235x300.jpg" alt="">
                        <div>
                            <a href="#">BILLIONAIRE BOYS</a>
                            <span>$20</span>
                        </div>
                    </div>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl15-235x300.jpg" alt="">
                        <div>
                            <a href="#">COOLKIDS</a>
                            <span>$3.00</span>
                        </div>
                    </div>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl19-235x300.jpg" alt="">
                        <div>
                            <a href="#">DIALOG</a>
                            <span>$15.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-item">
                <div class="inner-category">
                    <h3>FEATURED</h3>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl-110-235x300.jpg" alt="">
                        <div>
                            <a href="#">BILLIONAIRE BOYS</a>
                            <span>$20</span>
                        </div>
                    </div>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl15-235x300.jpg" alt="">
                        <div>
                            <a href="#">COOLKIDS</a>
                            <span>$3.00</span>
                        </div>
                    </div>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl19-235x300.jpg" alt="">
                        <div>
                            <a href="#">DIALOG</a>
                            <span>$15.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-item">
                <div class="inner-category">
                    <h3>FEATURED</h3>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl-110-235x300.jpg" alt="">
                        <div>
                            <a href="#">BILLIONAIRE BOYS</a>
                            <span>$20</span>
                        </div>
                    </div>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl15-235x300.jpg" alt="">
                        <div>
                            <a href="#">COOLKIDS</a>
                            <span>$3.00</span>
                        </div>
                    </div>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl19-235x300.jpg" alt="">
                        <div>
                            <a href="#">DIALOG</a>
                            <span>$15.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-item">
                <div class="inner-category">
                    <h3>FEATURED</h3>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl-110-235x300.jpg" alt="">
                        <div>
                            <a href="#">BILLIONAIRE BOYS</a>
                            <span>$20</span>
                        </div>
                    </div>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl15-235x300.jpg" alt="">
                        <div>
                            <a href="#">COOLKIDS</a>
                            <span>$3.00</span>
                        </div>
                    </div>
                    <div class="inner-item">
                        <img src="../../assets/img/category/image1xxl19-235x300.jpg" alt="">
                        <div>
                            <a href="#">DIALOG</a>
                            <span>$15.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>