<ul class="aifai-navbar">
    <li class="home-nav">
        <a href="/home"><span>Home</span></a>
        <ul class="home-mega">
            <li>
                <a href="#" (click)="go()">Home V1</a>
                <p>Default Home</p>
            </li>
            <li>
                <a href="#" >Home V1</a>
                <p>Default Home</p>
            </li>
            <li>
                <a href="#">Home V1</a>
                <p>Default Home</p>
            </li>
        </ul>
    </li>
    <li class="shop-nav">
        <a href="/shop">
            <span>Shop</span>
        </a>
        <ul class="shop-mega">
            <li class="sub-mega">
                <ul>
                    <a href="#"><img class="sub-mega-image" src="../../assets/img/navigation/mega/cart.png"
                            alt=""></a>
                    <h4>Shop Variants</h4>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                </ul>
            </li>
            <li class="sub-mega">
                <ul>
                    <a href="#"><img class="sub-mega-image"
                            src="../../assets/img/navigation/mega/computer.png" alt=""></a>
                    <h4>Shop Variants</h4>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                </ul>
            </li>
            <li class="sub-mega">
                <ul>
                    <a href="#"><img class="sub-mega-image" src="../../assets/img/navigation/mega/card.png"
                            alt=""></a>
                    <h4>Shop Variants</h4>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                </ul>
            </li>
            <li class="sub-mega">
                <ul>
                    <a href="#"><img class="sub-mega-image" src="../../assets/img/navigation/mega/shirt.png"
                            alt=""></a>
                    <h4>Shop Variants</h4>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                    <li><a href="#">Shop full width</a></li>
                </ul>
            </li>
            <li class="sub-mega">
                <a href="#"><img class="black-friday" src="../../assets/img/black-friday/blackfriday.jpg"
                        alt=""></a>
            </li>
        </ul>
    </li>
    <li><a href="#"><span>Pages</span></a></li>
    <li><a href="#"><span>Blog</span></a></li>
    <li><a href="#"><span>Shortcodes</span></a></li>
    <li><a href="shop"><span>Buy now</span></a></li>
</ul>