@-webkit-keyframes extend {
    0% {
        width: 150px;
        height: 50px;
    }

    10% {
        width: 125px;
        height: 50px;
        margin-left: -5px;
        margin-top: -5px;
        background: #fff;
    }

    20% {
        width: 75px;
        height: 50px;
        margin-left: 0px;
        margin-top: 0px;
        background: #6fb07f;
    }

    100% {
        width: 50px;
        height: 50px;
        margin-left: 50px;

        background: #6fb07f;
    }
}

@keyframes extend {
    0% {
        width: 300px;
        height: 50px;
        border-radius: 25px;
    }

    10% {
        width: 310px;
        height: 60px;
        background: #fff;
        margin-left: -5px;
        margin-top: -5px;
    }

    20% {
        width: 300px;
        height: 50px;
        background: #6fb07f;
        margin-left: 0px;
        margin-top: 0px;
    }

    100% {
        width: 50px;
        height: 50px;
        margin-left: 125px;
        background: #6fb07f;
        border-radius: 25px;
    }
}


@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        border: none;
    }

    20% {
        color: #fff;
    }

    100% {
        border: none;
        opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    20% {
        color: #fff;
    }

    100% {
        opacity: 0;
    }
}


@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    background: #fff
}

input, button, submit {
    border: none
}

.cont {
    z-index: 100;
    position: fixed;
    width: 300px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -150px
}

button {
    border-width: 1px;
    width: 300px;
    height: 50px;
    /*border-radius*/
    border-radius: 25px;
    background: #fff;
    position: fixed;
    border: 5px solid #6fb07f
}

button>span {
    font-size: 24px;
    color: #6fb07f;
    
}

img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
}

.show-button {
    /*animation*/
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}

.show-span {
    /*animation*/
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}

.show-image {
    /*animation*/
    -webkit-animation: appear 1s ease-in-out;
    -ms-animation: appear 1s ease-in-out;
    animation: appear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
}

.disappear {
    /*animation*/
    /* -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; */
}

.hide {
    display: none;
}