<div class="icon-wrapper" (click)="viewCart()" >
    <a class="cart-icon" type="button">
        <span class="quantity">{{quantity}}</span>
        <i class="fas fa-shopping-cart" #cartBtn></i>
    </a>
</div>
<!-- <ul class="cart-items" *ngIf="isShowCart" #cartItems>
    <li *ngFor="let item of items$ | async" class="cart-item">
        <ul class="cart-content">
            <li class="cart-image">
                <a class="thumbnail-wrapper" href="#">
                    <img class="thumbnail" src="{{item.product.img1}}" alt="">
                </a>
            </li>
            <li class="cart-info">
                <a href="#">{{item.product.name}}</a>
                <p>QUANTITY:{{item.quantity}} x <span>{{item.product.price}}</span></p>
            </li>
            <li class="total-unit-price">
                <p>{{item.totalUnitPrice}}</p>
            </li>
        </ul>
    </li>
    <div class="btn-cart">
        <div class="row">
            <div class="col-md-6">
                <a href="/cart" type="submit" class="btn btn-primary view-cart">View cart</a>
            </div>
            <div class="col-md-6">
                <a href="#" type="submit" class="btn btn-primary checkout">Checkout</a>
            </div>
        </div>
        <p class="sub-total">SUBTOTAL: {{cartPrice$ | async}}<span></span></p>
    </div>
</ul> -->