<p>products works!</p>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <div>
      <button class="btn pb-0 mr-2">Notification</button>
      <button class="btn pb-0 mr-2">Chat</button>
      <a class="text-danger" href="#">Sign out</a>
    </div>
  </nav>
<div class="container-fluid">
    <div class="row">
      <app-sidenav></app-sidenav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h2">Categories</h1>
          <button class="btn btn-primary">
            <a href="admin/category/add"><span class="badge badge-primary">Add Category</span></a>
          </button>
        </div>
        <h2>Product list</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody *ngFor="let category of categories">
              <tr>
                <td>{{ category.id}}</td>
                <td>{{ category.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </main>
    </div>
  </div>