

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="admin">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/order">
            <span data-feather="file"></span>
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/product">
            <span data-feather="shopping-cart"></span>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/category">
            <span data-feather="category"></span>
            Categories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/voucher">
            <span ></span>
            Vouncher
          </a>
        </li>
      </ul>
    </div>
  </nav>