<section class="aifai-trending container">
    <div class="row trending-header">
        <h2>TRENDING</h2>
        <p>MOST TRENDY CLOTHES</p>
        <p class="dash"></p>
    </div>
    <owl-carousel-o [options]="trendingOptions">
        <ng-template carouselSlide>
            <div class="item">
                <div class="product-item">
                    <a href="#" class="img-wrapper">
                        <img class="steady-image" src="../../assets/img/trending/cap1.jpg" alt="">
                        <img class="hover-image" src="../../assets/img/trending/cap2.jpg" alt="">
                    </a>
                    <div class="info-wrapper">
                        <h4><a href="/detail">CHEAP MONDAY</a></h4>
                        <a href="#"><i class="fas fa-plus"></i></a>
                        <div class="clear"></div>
                    </div>
                    <a href="#">MEN</a>
                    <span><s>$50</s> $20</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item" >
                <div class="product-item">
                    <a href="#" class="img-wrapper">
                        <img class="steady-image" src="../../assets/img/trending/clock1.jpg" alt="">
                        <img class="hover-image" src="../../assets/img/trending/clock2.jpg" alt="">
                    </a>
                    <div class="info-wrapper">
                        <h4><a href="#">CHEAP MONDAY</a></h4>
                        <a href="#"><i class="fas fa-plus"></i></a>
                        <div class="clear"></div>
                    </div>
                    <a href="#">MEN</a>
                    <span><s>$50</s> $20</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item" >
                <div class="product-item">
                    <a href="#" class="img-wrapper">
                        <img class="steady-image" src="../../assets/img/trending/girl1.jpg" alt="">
                        <img class="hover-image" src="../../assets/img/trending/girl2.jpg" alt="">
                    </a>
                    <div class="info-wrapper">
                        <h4><a href="#">CHEAP MONDAY</a></h4>
                        <a href="#"><i class="fas fa-plus"></i></a>
                        <div class="clear"></div>
                    </div>
                    <a href="#">MEN</a>
                    <span><s>$50</s> $20</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item" >
                <div class="product-item">
                    <a href="#" class="img-wrapper">
                        <img class="steady-image" src="../../assets/img/trending/kinh1.jpg" alt="">
                        <img class="hover-image" src="../../assets/img/trending/kinh2.jpg" alt="">
                    </a>
                    <div class="info-wrapper">
                        <h4><a href="#">CHEAP MONDAY</a></h4>
                        <a href="#"><i class="fas fa-plus"></i></a>
                        <div class="clear"></div>
                    </div>
                    <a href="#">MEN</a>
                    <span><s>$50</s> $20</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item" >
                <div class="product-item">
                    <a href="#" class="img-wrapper">
                        <img class="steady-image" src="../../assets/img/trending/man1.jpg" alt="">
                        <img class="hover-image" src="../../assets/img/trending/man2.jpg" alt="">
                    </a>
                    <div class="info-wrapper">
                        <h4><a href="#">CHEAP MONDAY</a></h4>
                        <a class="icon-plus" href="#"><i class="fas fa-plus"></i></a>
                        <div class="clear"></div>
                    </div>
                    <a href="#">MEN</a>
                    <span><s>$50</s> $20</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item" >
                <div class="product-item">
                    <a href="#" class="img-wrapper">
                        <img class="steady-image" src="../../assets/img/trending/vong1.jpg" alt="">
                        <img class="hover-image" src="../../assets/img/trending/vong2.jpg" alt="">
                    </a>
                    <div class="info-wrapper">
                        <h4><a href="#">CHEAP MONDAY</a></h4>
                        <a href="#"><i class="fas fa-plus"></i></a>
                        <div class="clear"></div>
                    </div>
                    <a href="#">MEN</a>
                    <span><s>$50</s> $20</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item" >
                <div class="product-item">
                    <a href="#" class="img-wrapper">
                        <img class="steady-image" src="../../assets/img/trending/white1.jpg" alt="">
                        <img class="hover-image" src="../../assets/img/trending/white2.jpg" alt="">
                    </a>
                    <div class="info-wrapper">
                        <h4><a href="#">CHEAP MONDAY</a></h4>
                        <a href="#"><i class="fas fa-plus"></i></a>
                        <div class="clear"></div>
                    </div>
                    <a href="#">MEN</a>
                    <span><s>$50</s> $20</span>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>

