<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item first-item active">
            <div>
                <img src="../../../assets/img/slider/collec.png" alt="">
                <a href="shop" class="btn btn-secondary">SHOP NOW</a>
            </div>
            <img class="d-block w-100 image-slider" src="../../../assets/img/slider/bg-1-1.png" alt="First slide">
        </div>
        <div class="carousel-item second-item">
            <div>
                <img class="img_1" src="../../../assets/img/slider/img_1.png" alt="">
                <img class="img_2" src="../../../assets/img/slider/img_2.png" alt="">
                <img class="img_3" src="../../../assets/img/slider/img_3.png" alt="">
                <img class="img_4" src="../../../assets/img/slider/img_4.png" alt="">
            </div>
            <img class="d-block w-100 image-slider" src="../../../assets/img/slider/bg-2.png" alt="Second slide">
        </div>
        <div class="carousel-item third-item">
            <div class="text-slider">
                <h5>WE PRESENT</h5>
                <h3>LONDON STREET STYLE</h3>
                <a class="btn btn-secondary" href="shop">SHOP NOW</a>
            </div>
            <img class="d-block w-100 image-slider" src="../../../assets/img/slider/ttt.png" alt="Third slide">
            <img src="../../../assets/img/slider/pamooxhi.png" alt="">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>